@font-face {
    font-family: myFirstFont;
    src: url('./fonts/FontsFree-Net-Thedus-Wide.ttf');
  }

 @font-face {
    font-family: textFont;
    src: url('./fonts/Marvel-Regular.ttf');
  }

.about{
    height:100vh;
    background-color: #fff;
    color: #282c34;
}

header{
    height: 0;
}

.about_title{
    /* color: white; */
    font-size: 100px;
    margin-top: 0%;
    font-family: myFirstFont;
    animation: floating 3s ease-in-out infinite;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

    /* ,fade 3s ease infinite; */
}




@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 6px); }
    100%   { transform: translate(0, -0px); } 
}

@keyframes fade {
    0% {
        opacity: 0;
     }
     100% {
        opacity: 1;
     }
}

.about_center{
    display: flex;
    margin: auto;
    justify-content: center;
}

.about_left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 70px;
    

}



@keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }

 @keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translateX(-20px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 } 

 @keyframes fadeInRight {
    0% {
       opacity: 0;
       transform: translateX(20px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 } 

.about_right{
    flex: 1;
    justify-content: flex-end;
    padding-right: 50px;
    /* animation: fadeInRight 1s ease-in-out normal  */

}

.about_left_title{
    font-size: 50px;
    text-align: left;
    margin-left: 40px;
    font-weight: 700;
    font-family: myFirstFont;

}

.about_skillsets{
   
    outline:5px solid #282c34;
    border-radius: 5px;
    width: fit-content;
    margin-left: 40px;
    color:#282c34;
    display: flex;
    padding: 8px;
    font-family: myFirstFont;
    font-size: larger;
}

.about_skillsets_left{
    margin: 10px;
    text-align: left;
}

.about_skillsets_right{
    margin: 10px;
    text-align: left;
}

.about_avatar{
   width: 200px !important; 
   height: 200px !important;
}

.about_avatar_div{
    justify-content: flex-end;
    display: flex;
    padding-bottom: 40px;
}

.about_right_divider{
    background-color: #282c34;
    width: 100;
    height:5px;
    border-radius: 5px;

}

.about_right_content{
    text-align: right;    
}

#about_right_link{
    color: #e6276d;
}

 .about_avatar {
    border: 3px solid #e6276d;
}

.about_avatar_div> .MuiAvatar-root >.MuiAvatar-img{
   
    width: auto !important;

}

.about_avatar_div > .MuiAvatar-root{
    background-color: #FEFFF9;
}

@media screen and (max-width: 768px) {
    .about_center{
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        /* height: max-content; */
    }
    .about{
        height: max-content;
        padding-top: 10%;
    }

    .about_title{
        margin-bottom: 2px;
    }

    .about_left_title{
        text-align: center;      
    }
    
    .about_skillsets{
        /* border: .5px solid #e6276d; */
        /* outline:5px solid #fff; */
        border-radius: 5px;
        width: fit-content;
       
        /* color:white; */
        display: flex;
        padding: 8px;
        font-family: myFirstFont;
        font-size: larger;
    }

    .about_right{
        flex: 1;
        justify-content: center;
        padding: 50px;
    }
    .about_avatar_div{
        justify-content: center;
        display: flex;
        padding: 40px;
    }
    .about_right_divider{
        /* background-color: #fff; */
        width: 100;
        height:5px;
        border-radius: 5px;
    }

    .about_right_content{
        text-align: center;      
    }
    
}