.home{
    height: 100vh;
    /* width: 100vw; */
    /* color: grey; */
    background-color: #282c34;
    display: flex;
   /* position: relative; */
   justify-items: center;
   font-family: myFirstFont;
   /* position: fixed; */
}

@keyframes title {
    from {opacity:0%}
    to {opacity:100%}
  }

.home_template_name{
    color: #e6276d;
}

.home_template{
    font-size: 70px  ; 
    /* align-self: center; */
    color: white;
    font-weight: 800;
    margin: auto;
    animation: title 1.5s ease-in;
}

.home_template_title{
 /* position: absolute; */

}

@font-face {
    font-family: myFirstFont;
    src: url('./fonts/FontsFree-Net-Thedus-Wide.ttf');
  }

.home_header{
    position: fixed;
    margin: auto;
    right: 60px;
    top: 40px;
    background-color: #282c34;
    padding: 10px ;
    border-radius: 10px;
    z-index: 99;
}

.home_header_link{
    text-decoration: none;
    color:white;
    margin:10px;
    margin-right: 30px;
}

.home_header_link:hover{
    color: #e6276d;
    font-size: 20px;

}


@media screen and (max-width: 768px) {
    .home_header{
        position: fixed;
        margin: auto;
        /* right: 60px; */
        width: 75%;
        /* display: flex; */
        left: 50%;
        top: 40px;
        background-color: #282c34;
        padding: 10px ;
        border-radius: 10px;
        z-index: 99;
    }
}

@media screen and (width: 425px) {
    .home{
        width: max-content;
    }
   .home_template{
       padding: 30px;
   }
}