body {
  /* padding: 2px; */
  font-family: myFirstFont, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #251f44;
}

@font-face {
  font-family: myFirstFont;
  src: url('./fonts/FontsFree-Net-Thedus-Wide.ttf');
}

header{
  height: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width: 600px){
  body{
    width: min-content;
  }
}
