@font-face {
    font-family: myFirstFont;
    src: url('./fonts/FontsFree-Net-Thedus-Wide.ttf');
  }

  @font-face {
    font-family: textFont;
    src: url('./fonts/Marvel-Regular.ttf');
  }

.projects{
    margin-top: 0;
    background-color: #251f44;
    color: white;
    padding: 15px;
    padding-bottom: 40px;
    min-height:80vh;
    max-height: max-content;
}


.projects_link{
    color:aqua  !important;
}

.projects_title{
    margin-top: 0;
    font-size: 100px;
    font-family: myFirstFont;
    animation: floating 3s ease-in-out infinite ;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 6px); }
    100%   { transform: translate(0, -0px); }    
}

.projects_classdeck{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects_card{
    padding: 5px;
    margin: 8px;
    border: 2px solid white;
    border-radius: 10px;

}
 
.projects_card_title{
    font-weight: 500;
    font-size: 30px;
}

.projects_card_title_link{
  color: white;
  text-decoration: none;
  font-family: myFirstFont;
}

.projects_card_footer{
    padding: 4px;   
    background-color: rgba(115, 115, 115, 0.34);
    width: fit-content;
    margin: auto;
    border-radius: 5px;
    font-family:textFont;
}

span{
    color:#e6276d
}

