.projects_card{
    padding: 5px;
    margin: 8px;
    border: 2px solid white;
    border-radius: 10px;

}
 
.projects_card_title{
    font-weight: 500;
    font-size: 30px;
}

.projects_card_title_link{
  color: white;
  text-decoration: none;
  font-family: myFirstFont;
}

.projects_card_footer{
    padding: 4px;   
    background-color: rgba(115, 115, 115, 0.34);
    width: fit-content;
    margin: auto;
    border-radius: 5px;
    font-family:textFont;
}

span{
    color:#e6276d
}